.todo-item {
    cursor: pointer
}

.todo-item:not(:nth-child(1)){
    margin-top: 5px;
}

.form-control {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}

.todo-item span,
.todo-item strike,
.todo-item svg {
    vertical-align: middle
}

.show {
    display: block;
}

.hide {
    display: none;
}

.btn-group-sm>.btn, .btn-xs {
    padding: .25rem .3rem;
    font-size: .75rem;
    line-height: 1.0;
    border-radius: .2rem;
    margin-top: 2px;
}